/*------------------------------*\
    Footer
\*------------------------------*/
$module: '.footer';

#{$module} {
    clear: both;
    position: relative;
    text-align: center;
    background-color: black;
    padding: 40px 0;
    color: white
}