/*------------------------------*\
    Homepage Hero
\*------------------------------*/
$module: '.hero';

#{$module} {
    &__image {
        width: 100%;
    }

    &__title {
        font-size: 25px;
        color: white;
        padding: 10px;
        border-radius: 5px;
        background: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @include bp(medium) {
            top: 50%;
            font-size: 50px;
        }
    }
}