/*------------------------------*\
    Homepage Images
\*------------------------------*/
$module: '.images';

#{$module} {
    &__list {
        padding: 5px 10px;

        &-item {
            display: inline-block;
            width: calc((100% - 10px) / 3);

            img {
                width: 100%;
            }
        }
    }
}