/*------------------------------*\
    Homepage Images
\*------------------------------*/
$module: '.images';

#{$module} {
    &__list {
        padding: 5px 10px;

        &-item {
            display: none;
            width: calc((100% - 10px) / 2);

            &.active {
                display: inline-block;
            }

            img {
                width: 100%;
            }
        }
    }
}