/*------------------------------*\
    Rabbit
\*------------------------------*/
$module: '.rabbit';

#{$module} {
    @include content();

    &__image {
        text-align: center;

        img {
            padding: 20px;
            border-radius: 15px;
            border: solid 5px $color-2;
            width: calc(100% - 45px);

            @include bp(medium) {
                width: 250px;
            }
        }
    }

    &__content {
        margin: 20px 0;
        padding: 0 20px 20px;
        background-color: $white;
        text-align: center;

        p {
            margin: 5px 0;
            text-align: justify;
        }
    }

    &__title {
        font-size: 30px;
        margin-bottom: 10px;

        @include bp(large) {
            font-size: 40px;
        }
    }
}
