/*------------------------------*\
    Table
\*------------------------------*/
$module: '.table';

#{$module} {
    @include content();

    &__content {
        text-align: center;
        background-color: $white;
        padding: 10px;
        font-size: 25px;

        &-title {
            font-size: 30px;
            margin-bottom: 10px;

            @include bp(large) {
                font-size: 40px;
            }
        }

        p {
            padding-top: 20px;
            text-align: justify;
            font-size: 16px;

            @include bp(medium) {
                margin: 0 40px;
            }
        }
    }

    &__list {
        margin-top: 30px;

        &-item {
            margin: 0 10px 20px;
            text-align: center;
            background-color: $white;
            border-radius: 20px;
            border: solid 2px $color-8;
            display: inline-block;
            position: relative;
            vertical-align: top;

            .food & {
                pointer-events: none;
            }

            &-title {
                display: block;
                position: absolute;
                opacity: 0;
                transition: background-color 0.1s ease-in;

                .food & {
                    margin-top: 0;
                    position: relative;
                    opacity: 1;
                }
            }

            &:hover {
                .table__list-item-title {
                    opacity: 1;
                    color: $white;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    padding: 10px;
                    background-color: rgba($color: $black, $alpha: 0.7);
                }
            }

            @include bp(medium) {
                width: calc((100% - 53px) / 2);

                &-title {
                    margin-bottom: 20px;
                }
            }

            @include bp(large) {
                width: calc((100% - 81px) / 3);

                &-title {
                    margin-bottom: 20px;
                }
                
                .food & {
                    width: calc((100% - 53px) / 2);
                }
            }

            img {
                width: calc(100% - 40px);
                margin: 20px 20px 10px;
                border: solid 2px $color-3;
            }

            &-description {
                margin-top: 20px;
                padding: 0 20px 20px;
                text-align: justify;

                a {
                    color: $color-12;
                    font-weight: 800;
                    border-bottom: solid 1px $color-12;
                }
            }
        }
    }

    &__container {
        background-color: $white;
        padding: 20px;
        margin-top: 20px;

        p {
            text-align: justify;
            margin: 5px 0;
        }
    }

    &__ul-lists {
        list-style-type: circle;
        margin-left: 40px;

        &-item {
            margin: 10px 0;

            strong {
                color:  $color-8;
            }
        }
    }
}
