/*-----------------------------*\
	Breakpoints
/*-----------------------------*/

$breakpoints-s: 375;
$breakpoints-m: 768;
$breakpoints-l: 1024;
$breakpoints-xl: 1400;

$breakpointsList: (
    small: ($breakpoints-s * 1px),
    medium: ($breakpoints-m * 1px),
    large: ($breakpoints-l * 1px),
    xlarge: ($breakpoints-xl * 1px)
);

$breakpoints: ( 0px, $breakpoints-m, $breakpoints-l, $breakpoints-xl );

$there-is-no-higher-breakpoint: 9999em;

$allowed-breakpoint-targets: inspect(map-keys($breakpointsList));

@function get-breakpoint($target) {
    $breakpoint: map-get($breakpointsList, $target);

    @if $breakpoint == null {
        @warn('You tried to respond_to "#{$target}". Please use one of these available breakpoints - #{$allowed-breakpoint-targets}');
    }

    @return $breakpoint;
}

@mixin bp($target) {
    @media screen and (min-width: get-breakpoint($target)) {
        @content;
    }
}

/*-----------------------------*\
	Colors
/*-----------------------------*/

$black: #000;
$white: #fff;
$color-1: #F1D1B5;
$color-2: #F0B7A4;
$color-3: #305F72;
$color-4: #5d5d5d;
$color-5: #777;
$color-6: #355C7D;
$color-7: #FF7582;
$color-8: #F18C8E;
$color-9: #f5f5f5;
$color-10: #568EA6;
$color-11: #ff6347;
$color-12: #6B3074;
